#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors/runtime-sensor-rotate.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "keys_fr.h"

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <1>;      // 0
    time-to-max-speed-ms = <100>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

&soft_off { hold-time-ms = <2000>; };

/ {
    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <14 28 40>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&none             &none        &none        &none          &none            &none            &none              &none         &none               &none                &none             &none                 &none
&kp RIGHT_ALT     &kp FR_A     &kp FR_Z     &kp FR_E       &kp FR_R         &kp FR_T         &none              &kp FR_Y      &kp FR_U            &kp FR_I             &kp FR_O         &kp FR_P               &kp BACKSPACE
&kp ESCAPE        &kp FR_Q     &kp FR_S     &kp FR_D       &kp FR_F         &kp FR_G         &none              &kp FR_H      &kp FR_J            &kp FR_K             &kp FR_L         &kp FR_M               &kp FR_DOLLAR
&kp LEFT_CONTROL  &kp FR_W     &kp FR_X     &kp FR_C       &kp FR_V         &kp FR_B         &none              &kp FR_N      &kp FR_COMMA        &kp FR_SEMICOLON     &kp FR_COLON     &kp FR_EXCLAMATION     &none
                               &none &none &none &kp LSHIFT &kp LEFT_GUI &kp SPACE &none &kp ENTER &mo 1 &kp TAB &none &none
            >;
            display-name = "LAYER0";
        };

        layer_1 {
            bindings = <
&none             &none      &none      &none       &none      &none          &none               &none           &none           &none         &none            &none                    &none
&kp RIGHT_ALT     &kp FR_AMPERSAND  &kp FR_E_ACUTE  &kp FR_DOUBLE_QUOTES   &kp FR_SINGLE_QUOTE  &kp FR_LEFT_PARENTHESIS      &none               &kp FR_MINUS       &kp FR_E_GRAVE       &kp FR_UNDERSCORE     &kp FR_C_CEDILLA        &kp FR_A_GRAVE                &kp BACKSPACE
&kp ESCAPE        &none      &none      &none       &kp FR_LT  &none          &none               &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &kp FR_RIGHT_PARENTHESIS  &kp FR_EQUAL
&kp LEFT_CONTROL  &none      &none      &bt BT_CLR_ALL       &none      &none          &none               &none           &none           &none         &kp FR_CARET     &kp FR_U_GRAVE           &kp FR_ASTERISK
                             &none &none &none &kp LSHIFT &none &kp SPACE &none &kp ENTER &none &none &none &none
            >;
        };
    };
};
